<div>
    <message-drtv close-callback="organizationUnitDrtvCtrl.closeMessage" 
                  refetch-callback = "organizationUnitDrtvCtrl.refetch" 
                  message="organizationUnitDrtvCtrl.message" 
                  ng-if="organizationUnitDrtvCtrl.message" 
                  edit-id="organizationUnitDrtvCtrl.editOrganizationUnit.id"
                  class="message-bar" >
    </message-drtv>
    <div>
        <form name="organizationUnitForm" novalidate>
            <div>
                <label for="arabicName">{{messages.label.arabicName}}</label>
                <input type="text" id="arabicName" name="arabicName" ng-model="organizationUnitDrtvCtrl.organizationUnit.arabicName" required/>
                <span ng-show="organizationUnitForm.arabicName.$touched && organizationUnitForm.arabicName.$error.required" >
                    {{messages.label.required}}
                </span>
            </div>
            <div>
                <label for="englishName">{{messages.label.englishName}}</label>
                <input type="text" id="englishName" name="englishName" ng-model="organizationUnitDrtvCtrl.organizationUnit.englishName" required/>
                <span ng-show="organizationUnitForm.englishName.$touched && organizationUnitForm.englishName.$error.required" >
                        {{messages.label.required}}
                    </span>
            </div>
            <div>
                <label for="isActive">{{messages.label.isActive}}</label>
                <input type="checkbox" id="isActive" ng-model="organizationUnitDrtvCtrl.organizationUnit.isActive" />
            </div>
            <div>
                <div ng-if="!organizationUnitDrtvCtrl.editOrganizationUnit">
                    <button ng-click="organizationUnitDrtvCtrl.add()" ng-disabled="organizationUnitForm.$invalid" type="submit">{{messages.label.add}}</button>
                </div>
                <div ng-if="organizationUnitDrtvCtrl.editOrganizationUnit">
                    <button ng-click="organizationUnitDrtvCtrl.update()" ng-disabled="organizationUnitForm.$invalid" type="submit">{{messages.label.update}}</button>
                </div>
                <div>
                    <button ng-click="organizationUnitDrtvCtrl.reset()">{{messages.label.reset}}</button>
                </div>
                <div ng-if="organizationUnitDrtvCtrl.editOrganizationUnit">
                    <button ng-click="organizationUnitDrtvCtrl.cancel()">{{messages.label.cancel}}</button>
                </div>
            </div>
        </form>
    </div>
    <div>
        <table class="table table-striped table-bordered table-hover">
            <thead>
                <tr>
                    <th>
                        {{messages.label.arabicName}}
                    </th>
                    <th>
                        {{messages.label.englishName}}
                    </th>
                    <th>
                        {{messages.label.isActive}}
                    </th>
                    <th>
                        {{messages.label.edit}}
                    </th>
                    <th>
                        {{messages.label.delete}}
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="ou in organizationUnitDrtvCtrl.organizationUnits | paginationFltr:organizationUnitDrtvCtrl.page.start:organizationUnitDrtvCtrl.page.end track by ou.id">
                    <td>
                        {{ou.arabicName}}
                    </td>
                    <td>
                        {{ou.englishName}}
                    </td>
                    <td>
                        {{ou.isActive}}
                    </td>
                    <td>
                        <div>
                            <button ng-click="organizationUnitDrtvCtrl.edit(ou.id)">{{messages.label.edit}}</button>
                        </div>
                    </td>
                    <td>
                        <div>
                            <button ng-click="organizationUnitDrtvCtrl.delete(ou.id)">{{messages.label.delete}}</button>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td colspan="5">
                    <pagination items-size="organizationUnitDrtvCtrl.organizationUnits.length" page="organizationUnitDrtvCtrl.page">
                    </pagination></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>