<div>
        <div class="page-header">
                <h3>{{messages.ORGANIZATION_UNITS}}</h3> 
              </div>
    <div class="btn-group btn-group-justified">
        <form name="organizationUnitForm" novalidate>
            <div  class="form-group col-md-6" ng-class="{ 'has-error': organizationUnitForm.arabicName.$touched && organizationUnitForm.arabicName.$error.required}">
                <label for="arabicName" class="required">{{messages.label.arabicName}}</label>
                <input type="text" class="form-control" id="arabicName" name="arabicName" ng-model="organizationUnitDrtvCtrl.organizationUnit.arabicName" placeholder={{messages.placeHolders.arabicNamePH}} required/>
                <span ng-show="organizationUnitForm.arabicName.$touched && organizationUnitForm.arabicName.$error.required" >
                    {{messages.label.required}}
                </span>
            </div>
            <div class="form-group col-md-6" ng-class="{ 'has-error': organizationUnitForm.englishName.$touched && organizationUnitForm.englishName.$error.required}">
                <label for="englishName" class="required">{{messages.label.englishName}}</label>
                <input type="text" class="form-control " id="englishName" name="englishName" ng-model="organizationUnitDrtvCtrl.organizationUnit.englishName" placeholder={{messages.placeHolders.englishNamePH}} required/>
                <span ng-show="organizationUnitForm.englishName.$touched && organizationUnitForm.englishName.$error.required" >
                        {{messages.label.required}}
                </span>
            </div>
            <div class="form-check">
                    <div  class="form-check form-check-inline">
                        <label for="isActive"  class="form-check-label">{{messages.label.isActive}}</label>
                        <input type="checkbox" class="form-check-input" id="isActive" ng-model="organizationUnitDrtvCtrl.organizationUnit.isActive" />
                    </div>
                </div>
           
            <div class="btn-group" >
                   
                <div  class="btn-group row" ng-if="!organizationUnitDrtvCtrl.editOrganizationUnit">
                        <div class="col-sm-10">
                    <button ng-click="organizationUnitDrtvCtrl.add()" ng-disabled="organizationUnitForm.$invalid" type="submit" class="btn btn-default">{{messages.label.add}}</button>
                </div>
            </div>
                <div class="btn-group row" ng-if="organizationUnitDrtvCtrl.editOrganizationUnit">
                        <div class="col-sm-10">
                    <button ng-click="organizationUnitDrtvCtrl.update()" ng-disabled="organizationUnitForm.$invalid" type="submit" class="btn btn-default">{{messages.label.update}}</button>
                </div>
            </div>
                <div class="btn-group row">
                        <div class="col-sm-10">
                    <button ng-click="organizationUnitDrtvCtrl.reset()" class="btn btn-default">{{messages.label.reset}}</button>
                </div>
            </div>
                <div ng-if="organizationUnitDrtvCtrl.editOrganizationUnit" class="btn-group row">
                        <div class="col-sm-10">
                    <button ng-click="organizationUnitDrtvCtrl.cancel()" class="btn btn-default">{{messages.label.cancel}}</button>
                </div>
            </div>
            </div>
             
        </form>
    </div>

     <div class="table-responsive">
        <table class="table table-striped table-bordered  table-hover">
            <thead >
                    <tr class="filters" >
                            <th><input type="text" class="form-control" ng-model="organizationUnitDrtvCtrl.filters.arabicName" ></th>
    
                            <th> <input type="text" class="form-control" ng-model="organizationUnitDrtvCtrl.filters.englishName" ></th>
    
                                <th><select class="form-control choice requiredField" ng-options="IsActive as IsActive for IsActive in organizationUnitDrtvCtrl.status" ng-model="organizationUnitDrtvCtrl.filters.isActive">
                                        <option value="" disabled selected> </option>
                                    </select></th>                                         
                            <th colspan="2">
                                    <div>
                                
                                            <button class="btn btn-default" ng-click="organizationUnitDrtvCtrl.reLoad()"><span class="glyphicon glyphicon-refresh"></span></button>
                                         
                                        </div>
                                </th>
                        </tr>
                <tr>
                    <th>
                        {{messages.label.arabicName}}
                    </th>
                    <th>
                        {{messages.label.englishName}}
                    </th>
                    <th>
                        {{messages.label.isActive}}
                    </th>
                    <th>
                        {{messages.label.edit}}
                    </th>
                    <th>
                        {{messages.label.delete}}
                    </th>
                </tr>
                
            </thead>
            <tbody>
                <tr ng-repeat="ou in organizationUnitDrtvCtrl.organizationUnits | filter:{arabicName: organizationUnitDrtvCtrl.filters.arabicName , englishName: organizationUnitDrtvCtrl.filters.englishName, isActive: organizationUnitDrtvCtrl.filters.isActive} | paginationFltr:organizationUnitDrtvCtrl.page.start:organizationUnitDrtvCtrl.page.end track by ou.id">
                    <td>
                        {{ou.arabicName}}
                    </td>
                    <td>
                        {{ou.englishName}}
                    </td>
                    <td>
                        {{ou.isActive}}
                    </td>
                    <td>
                        <div>
                            <button class="btn btn-default" ng-click="organizationUnitDrtvCtrl.edit(ou.id)"><span class="glyphicon glyphicon-pencil"></span></button>
                        </div>
                    </td>
                    <td>
                        <div>
                            <button class="btn btn-default" confirm  on-confirm="organizationUnitDrtvCtrl.delete(ou.id)"><span class="glyphicon glyphicon-trash"></span></button>
                        </div>
                    </td>
                </tr>
               
            </tbody>
        </table>
        <td colspan="5">
                <pagination items-size="organizationUnitDrtvCtrl.organizationUnits.length" page="organizationUnitDrtvCtrl.page">
                </pagination></td>
    </div>
</div>