<div>
        <div class="page-header">
                <h3>{{messages.EXTERNAL_USERS}}</h3> 
              </div>
<div class="btn-group btn-group-justified ">
    <form name="userForm"  novalidate>
        <div class="row">
        <div class="form-group col-md-6" ng-class="{ 'has-error':  userForm.arabicName.$touched && userForm.arabicName.$error.required}">
            <label for="arabicName" class="required">{{messages.label.arabicName}}</label>
            <input type="text" class="form-control" id="arabicName" name="arabicName" ng-model="externalUserDrtvCtrl.user.arabicName" placeholder={{messages.placeHolders.arabicNamePH}} required/>
            <span ng-show="userForm.arabicName.$touched && userForm.arabicName.$error.required" >
                {{messages.label.required}}
            </span>
        </div>
        <div class="form-group col-md-6" ng-class="{ 'has-error':  userForm.englishName.$touched && userForm.englishName.$error.required}">
            <label for="englishName" class="required">{{messages.label.englishName}}</label>
            <input type="text" class="form-control" id="englishName" name="englishName" ng-model="externalUserDrtvCtrl.user.englishName" placeholder={{messages.placeHolders.englishNamePH}} required/>
            <span ng-show="userForm.englishName.$touched && userForm.englishName.$error.required" >
                {{messages.label.required}}
            </span>
        </div>
    </div>
    <div class="row">
        <div class="form-group col-md-6" ng-class="{ 'has-error':  userForm.mobileNumber1.$invalid && userForm.mobileNumber1.$error.maxlength || userForm.mobileNumber1.$touched && userForm.mobileNumber1.$error.required}">
            <label for="mobileNumber1" class="required">{{messages.label.mobileNumber1}}</label>
            <input type="text" class="form-control mobileNumber" prevent-e id="mobileNumber1" name="mobileNumber1" ng-model="externalUserDrtvCtrl.user.mobileNumber1" ng-maxlength="8" ng-minlength="8" ng-pattern="mobilePattern" placeholder={{messages.placeHolders.mobileNumberPH}} required/>
            <span ng-show="userForm.mobileNumber1.$touched && userForm.mobileNumber1.$error.required" >
                {{messages.label.required}}
            </span>
            <span ng-show="userForm.mobileNumber1.$error.maxlength && userForm.mobileNumber1.$invalid" >
                    {{messages.label.mobileError}}              
                  </span>
            
        </div>
        <div class="form-group col-md-6" ng-class="{ 'has-error': userForm.mobileNumber2.$touched && userForm.mobileNumber2.$invalid || userForm.mobileNumber2.$touched && userForm.mobileNumber2.$error.required}">
            <label for="mobileNumber2" class="required">{{messages.label.mobileNumber2}}</label>
            <input type="text" class="form-control mobileNumber" prevent-e id="mobileNumber2" name="mobileNumber2" ng-model="externalUserDrtvCtrl.user.mobileNumber2" ng-maxlength="8" ng-minlength="8" ng-pattern="mobilePattern" placeholder={{messages.placeHolders.mobileNumberPH}} required/>
            <span ng-show="userForm.mobileNumber2.$touched && userForm.mobileNumber2.$error.required" >
                {{messages.label.required}}
            </span>
            <span ng-show="userForm.mobileNumber2.$error.maxlength && userForm.mobileNumber2.$invalid" >
                    {{messages.label.mobileError}}
                </span>
        </div>
    </div>
    <div class="row">
        <div class="form-group col-md-6" ng-class="{ 'has-error':  userForm.emailAddress.$error.email && userForm.emailAddress.$invalid || userForm.emailAddress.$touched && userForm.emailAddress.$error.required}">
            <label for="emailAddress" class="required">{{messages.label.emailAddress}}</label>
            <input type="email" class="form-control" id="emailAddress" name="emailAddress" ng-model="externalUserDrtvCtrl.user.emailAddress" ng-pattern="emailPattern" placeholder={{messages.placeHolders.emailPH}} required/>
            <span ng-show="userForm.emailAddress.$touched && userForm.emailAddress.$error.required" >
                {{messages.label.required}}
            </span>
            <span ng-show="userForm.emailAddress.$error.email && userForm.emailAddress.$invalid" >
                {{messages.label.emailError}}
            </span>
        </div>
        <div class="form-group col-md-6" ng-class="{ 'has-error':  userForm.civilId.$error.maxlength && userForm.civilId.$invalid || userForm.civilId.$touched && userForm.civilId.$error.required}">
            <label for="civilId" class="required">{{messages.label.civilId}}</label>
            <input type="text" class="form-control civilID" prevent-e id="civilId" name="civilId" ng-model="externalUserDrtvCtrl.user.civilId" ng-maxlength="15" placeholder={{messages.placeHolders.civilIDPH}} required/>
            <span ng-show="userForm.civilId.$touched && userForm.civilId.$error.required " >
                {{messages.label.required}}
            </span>
            <span ng-show="userForm.civilId.$error.maxlength && userForm.civilId.$invalid" >
                    {{messages.label.civilError}}
                </span>
        </div>
    </div>
    <div class="row">
        <div class="form-group col-md-6" ng-class="{ 'has-error': userForm.loginName.$touched && userForm.loginName.$error.required}">
            <label for="loginName" class="required">{{messages.label.loginName}}</label>
            <input type="text" class="form-control" id="loginName" name="loginName" ng-model="externalUserDrtvCtrl.user.loginName" placeholder={{messages.placeHolders.logInNamePH}} required/>
            <span ng-show="userForm.loginName.$touched && userForm.loginName.$error.required" >
                {{messages.label.required}}
            </span>
        </div>
        <div class="form-group col-md-6" ng-class="{ 'has-error': userForm.organizationUnit.$touched && userForm.organizationUnit.$error.required}">
            <label for="organizationUnit" class="required"> {{messages.label.organizationUnit}}</label>
            <select class="form-control choice requiredField" ng-options="organizationUnit | localeFltr for organizationUnit in externalUserDrtvCtrl.organizations track by organizationUnit.arabicName" ng-model="externalUserDrtvCtrl.user.organizationUnit" required>
                <option value="" disabled selected>{{messages.placeHolders.selectMessage}}</option>
            </select>
            <span ng-show="userForm.organizationUnit.$touched && userForm.organizationUnit.$error.required" >
                {{messages.label.required}}
            </span>
        </div>
    </div>
    
 <div class="form-check">
        <div class="form-check rigth form-check-inline" >
            <label for="isActive" class="form-check-label rigth" >{{messages.label.isActive}}</label>
            <input type="checkbox" class="form-check-input rigth" id="isActive" ng-model="externalUserDrtvCtrl.user.isActive" />
        </div>
    </div>

        <div class="btn-group rigth" >
            <div class="btn-group row" ng-if="!externalUserDrtvCtrl.editUser">
                <div class="col-sm-10">
                    <button ng-click="externalUserDrtvCtrl.add()" class="btn btn-default" ng-disabled="userForm.$invalid" type="submit">{{messages.label.add}}</button>
                </div>
            </div>
            <div class="btn-group row" ng-if="externalUserDrtvCtrl.editUser">
                <div class="col-sm-10">
                    <button ng-click="externalUserDrtvCtrl.update()" class="btn btn-default" ng-disabled="userForm.$invalid" type="submit">{{messages.label.update}}</button>
                </div>
            </div>
            <div class="btn-group row">
                <div class="col-sm-10">
                    <button ng-click="externalUserDrtvCtrl.reset()" class="btn btn-default">{{messages.label.reset}}</button>
                </div>
            </div>
            <div class="btn-group row" ng-if="externalUserDrtvCtrl.editUser">
                <div class="col-sm-10">
                        <button ng-click="externalUserDrtvCtrl.cancel()" class="btn btn-default">{{messages.label.cancel}}</button>
                </div>
            </div>
        </div>
    </form>
</div>
<div class="table-responsive">
    <table class="table table-striped table-bordered table-hover text-center"> 
        <thead>
                <tr class="filters" >
                        <th><input type="text" class="form-control" ng-model="externalUserDrtvCtrl.filters.arabicName" ></th>
                        <th><input type="text" class="form-control" ng-model="externalUserDrtvCtrl.filters.englishName" ></th>

                        <th><select class="form-control choice requiredField" ng-options="IsActive as IsActive for IsActive in externalUserDrtvCtrl.status" ng-model="externalUserDrtvCtrl.filters.isActive">
                                <option value="" disabled selected> </option>
                            </select></th>
                            <th><input type="text" class="form-control" ng-model="externalUserDrtvCtrl.filters.mobileNumber1" ></th>
                            <th><input type="text" class="form-control" ng-model="externalUserDrtvCtrl.filters.mobileNumber2" ></th>
                            <th><input type="text" class="form-control" ng-model="externalUserDrtvCtrl.filters.emailAddress" ></th>
                            <th><input type="text" class="form-control" ng-model="externalUserDrtvCtrl.filters.civilId" ></th>
                            <th><input type="text" class="form-control" ng-model="externalUserDrtvCtrl.filters.loginName" ></th>
                            <th>  <select class="form-control choice requiredField" ng-options="organizationUnit | localeFltr for organizationUnit in externalUserDrtvCtrl.organizations track by organizationUnit.arabicName" ng-model="externalUserDrtvCtrl.filters.organizationUnit" required>
                                    <option value="" disabled selected></option>
                                </select></th>
                            <th colspan="2">
                                    <div>
                                
                                            <button class="btn btn-default" ng-click="externalUserDrtvCtrl.reLoad()"><span class="glyphicon glyphicon-refresh"></span></button>
                                         
                                        </div>
                                </th>   
                        </tr>
            <tr>
                <th>
                    {{messages.label.arabicName}}
                </th>
                <th>
                    {{messages.label.englishName}}
                </th>
                <th>
                    {{messages.label.isActive}}
                </th>
                <th>
                    {{messages.label.mobileNumber1}}
                </th>
                <th>
                    {{messages.label.mobileNumber2}}
                </th>
                <th>
                    {{messages.label.emailAddress}}
                </th>
                <th>
                    {{messages.label.civilId}}
                </th>
                <th>
                    {{messages.label.loginName}}
                </th>
                <th>
                    {{messages.label.organizationUnit}}
                </th>
                <th>
                    {{messages.label.edit}}
                </th>
                <th>
                    {{messages.label.delete}}
                </th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="eu in externalUserDrtvCtrl.users| filter:{arabicName: externalUserDrtvCtrl.filters.arabicName , englishName: externalUserDrtvCtrl.filters.englishName , isActive: externalUserDrtvCtrl.filters.isActive , mobileNumber1: externalUserDrtvCtrl.filters.mobileNumber1 , mobileNumber2: externalUserDrtvCtrl.filters.mobileNumber2 , emailAddress: externalUserDrtvCtrl.filters.emailAddress , civilId: externalUserDrtvCtrl.filters.civilId , loginName: externalUserDrtvCtrl.filters.loginName , organizationUnit: externalUserDrtvCtrl.filters.organizationUnit } |paginationFltr:externalUserDrtvCtrl.page.start:externalUserDrtvCtrl.page.end track by eu.id">
                <td>
                    {{eu.arabicName}}
                </td>
                <td>
                    {{eu.englishName}}
                </td>
                <td>
                    {{eu.isActive}}
                </td>
                <td>
                    {{eu.mobileNumber1}}
                </td>
                <td>
                    {{eu.mobileNumber2}}
                </td>
                <td>
                    {{eu.emailAddress}}
                </td>
                <td>
                    {{eu.civilId}}
                </td>
                <td>
                    {{eu.loginName}}
                </td>
                <td>
                    {{eu.organizationUnit.arabicName}}
                </td>
                <td>
                    <div>
                        <button class="btn btn-default" ng-click="externalUserDrtvCtrl.edit(eu.id)"><span class="glyphicon glyphicon-pencil"></span></button>
                    </div>
                </td>
                <td>
                    <div>
                        <button class="btn btn-default" confirm  on-confirm="externalUserDrtvCtrl.delete(eu.id)"><span class="glyphicon glyphicon-trash"></span></button>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <td colspan="7">
        <pagination items-size="externalUserDrtvCtrl.users.length" page="externalUserDrtvCtrl.page">
        </pagination>
    </td>
</div>
</div>