<nav id="sidebar">
    <div class="sidebar-header">
        <h3>{{messages['sidebare.header']}}</h3>
        <button id="sidebarCollapse" class="btn btn-info navbar-btn" >
        <strong class= "glyphicon glyphicon-menu-hamburger"></strong>
    </button>
    </div>
    <ul class="list-unstyled components">
        <li ng-repeat="item in menuDrtvCtrl.items track by item.code">
            <a href="#{{item.route}}" onclick="event.preventDefault();" data-toggle="collapse" aria-expanded="false">
                <i ng-class="item.classes"></i>
                {{item.title}}
            </a>
            <ul class="collapse list-unstyled" id="{{item.route}}">
                <li ng-repeat="subItem in item.subItems">
                    <a href="" ui-sref="{{subItem.route}}">{{subItem.title}}</a>
                </li>
            </ul>
        </li>
    </ul>
</nav>