<nav id="sidebar">
    <div class="sidebar-header">
        <h3>{{messages['sidebare.header']}}</h3>
        <strong class= "glyphicon glyphicon-menu-hamburger"></strong>
    </div>
    <ul class="list-unstyled components">
        <li ng-repeat="item in items track by item.code">
            <a href="#{{item.route}}" ng-click="preventDefault($event)" data-toggle="collapse" aria-expanded="false">
                <i ng-class="item.classes"></i>
                {{item.title}}
            </a>
            <ul class="collapse list-unstyled" id="{{item.route}}">
                <li ng-repeat="subItem in item.subItems">
                    <a href="{{subItem.route}}">{{subItem.title}}</a>
                </li>
            </ul>
        </li>
    </ul>
</nav>