<div>
    <div class="page-header">
        <h3>{{messages.VIEWREQUESTS}}</h3>
    </div>
    <message-drtv message="myRequestDrtvCtrl.message" ng-if="myRequestDrtvCtrl.message" edit-id="myRequestDrtvCtrl.editOrganizationUnit.id"
        class="message-bar">
    </message-drtv>

    <div class="row">
        <div class="panel-primary">

            <!-- <div class="pull-right">
                <div class="form-group col-md-6">
                    <label for="requestCode"> {{messages.label.DocumentName}}</label>
                    <select class="form-control choice" ng-model="myRequestDrtvCtrl.search" ng-options=" requestCode| localeFltr for requestCode in myRequestDrtvCtrl.requests.type  track by requestCode.arabicName">

                    </select>
                </div>
            </div> -->
            <div class="table-responsive">
                <table class="table table-striped table-bordered  table-hover">
                    <thead>


                        <tr>
                            <th>
                                {{messages.label.RequestSerial}}
                            </th>
                            <th>
                                {{messages.label.RequestArabicName}}
                            </th>
                            <th>
                                    {{messages.label.requestcreateDate}}
                          </th>
                            <th>
                                {{messages.label.RequestStatus}}
                            </th>
                            <th>
                                {{messages.label.edit}}
                            </th>
                            
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="re in myRequestDrtvCtrl.requests | paginationFltr:myRequestDrtvCtrl.page.start:myRequestDrtvCtrl.page.end track by re.id">
                            <td>
                                {{re.serial}}
                            </td>
                            <td>
                                {{re.type.arabicName}}
                            </td>
                            <td>
                                    {{re.createDate}}
                                </td>
                            <td>
                                {{re.currentStatus.arabicName}}
                            </td>
                            <td>
                                <div>
                                    
                                    <button class="btn btn-default" ng-click="myRequestDrtvCtrl.route(re)"><span class="glyphicon glyphicon-edit"></span></button>
                                 
                                </div>
                            </td>
                            
                        </tr>

                    </tbody>
                </table>
                <td colspan="5">
                    <pagination items-size="myRequestDrtvCtrl.requests.length" page="myRequestDrtvCtrl.page">
                    </pagination>
                </td>
            </div>
        </div>
    </div>
</div>