<div class="login-dev">
        
    <form action = "#" name="login_form" autocomplete="off" id="login-form">
              
        <fieldset ng-disabled="loginInProgress">
                <div class="avatarLogin">
                        <img src=".\assets\imgs\judical.png" class="" alt="Avatar" style="width: 205px 205px;">
                    </div>     
                    <h4 class="text-center h3">{{messages.projectname}}</h4> 
            <div class="form-group">
                    <div class="input-group">
                <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
                <input type="text" id="username" ng-model="loginDrtvCtrl.credentials.username" class="form-control" placeholder="Enter UserName" required/>
            </div> 
        </div>
            <div class="form-group">
                    <div class="input-group">
                    <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
                <input type="password" id="password" ng-model="loginDrtvCtrl.credentials.password" class="form-control" placeholder="Enter PassWord" required/>
            </div>
        </div>
            <div>
            <div>
                <button ng-click="loginDrtvCtrl.doLogin();$event.preventDefault();" class="btn btn-default btn-block btn-lg">{{messages.login}}</button>
            </div>
           
                <h4>{{messages[loginDrtvCtrl.statusText]}}</h4>
            </div>
        </fieldset>
    </form> <!-- login_form -->
</div>