<div>
    <div class="modal-header">
        <h3 class="modal-title" id="modal-title">{{$parent.messages.label.AttachmentPreview}}</h3>
    </div>
    <div class="modal-body" id="modal-body">
        <img ng-src="{{contentViewerCtrl.imgSrc}}"></img>
    </div>
    <div class="modal-footer">
        <!--<button class="btn btn-primary" type="button" ng-click="contentViewerCtrl.ok()">OK</button>
        <button class="btn btn-warning" type="button" ng-click="contentViewerCtrl.cancel()">Cancel</button>-->
    </div>
</div>