<menu></menu>
<div id="content" class="container-fluid">
    <div id="header-r" class="row">
       <!-- <div id="content-c" class="col-12" ng-controller="menuDrtvCtrl">
            <button type="button" id="sidebarCollapse" class="btn btn-info navbar-btn" ng-click="toggleMenu()">
                <i class="glyphicon glyphicon-align-left"></i>
            </button>
        </div> header-c -->
    </div><!-- header-r -->
    <div id="bread-cumbs-r" class="row">
        <div id="bread-cumbs-c" class="col-12">
            Bread cumbs
        </div><!-- bread-cumbs-c -->
    </div><!-- bread-cumbs-r -->
    <div id="body-container" class="row">
        <div id="content" class="col-12">
                content
        </div><!-- content -->
    </div><!-- body-container -->
    <div id="footer-r" class="row">
        <div id="footer-c" class="col-12">
            footer
        </div><!-- footer-c -->
    </div><!-- footer-r -->
</div><!-- content -->