<menu></menu>
<div id="content" class="container-fluid">
    <div id="header-r" class="row">
        <logout></logout>
    </div><!-- header-r -->
    <div id="bread-cumbs-r" class="row">
        <div id="bread-cumbs-c" class="col-12">
            Bread cumbs
        </div><!-- bread-cumbs-c -->
    </div><!-- bread-cumbs-r -->
    <div id="body-container" class="row">
        <div id="content" class="col-12">
               <div ui-view>
        </div><!-- content -->
    </div><!-- body-container -->
    <div id="footer-r" class="row">
        <div id="footer-c" class="col-12">
            footer
        </div><!-- footer-c -->
    </div><!-- footer-r -->
</div><!-- content -->