<menu></menu>
<div id="content" class="container">
    <div id="header-r" class="row">
       <header></header>
    </div><!-- header-r -->
    <div id="bread-cumbs-r" class="row">
        <div id="bread-cumbs-c" class="col-12">
            <breadcrumbs></breadcrumbs>
        </div><!-- bread-cumbs-c -->
    </div><!-- bread-cumbs-r -->

    <div id="body-container" class="row">
        <div id="content" class="col-12">
            <div class="row">
                <div class="col-12">
                    <message-Drtv >
                    </message-Drtv>
                </div>
            </div>
               <div ui-view="content">
        </div><!-- content -->
    </div><!-- body-container -->
    <div id="footer-r" class="row">
        <div id="footer-c" class="col-12">
   
        </div><!-- footer-c -->
    </div><!-- footer-r -->
</div><!-- content -->