<div>
        <div class="page-header">
                <h3>{{messages.CAPACITY-DELEGATION}}</h3>  
        </div>
    <message-drtv close-callback="capacityDelegationDrtvCtrl.closeMessage" 
                  refetch-callback = "capacityDelegationDrtvCtrl.refetch" 
                  message="capacityDelegationDrtvCtrl.message" 
                  ng-if="capacityDelegationDrtvCtrl.message" 
                  edit-id="capacityDelegationDrtvCtrl.editCapacityDelegation.id"
                  class="message-bar" >
    </message-drtv>
    <div class="btn-group btn-group-justified">
        <form name="capacityDelegationForm" novalidate> 
            <div class="row">
                    <div class="form-group col-md-6">
                            <label for="jobTitle" class="required"> {{messages.label.JobTitle}} </label>
                            <input type="text" class="form-control" id="jobTitle" name="jobTitle" ng-model="capacityDelegationDrtvCtrl.capacityDelegation.jobTitle" placeholder={{messages.placeHolders.arabicNamePH}} required/>
                            <span ng-show="capacityDelegationForm.jobTitle.$touched && capacityDelegationForm.jobTitle.$error.required" >
                                {{messages.label.required}}
                            </span>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="ministerialDecreeNumber" class="required">{{messages.label.MinisterialDecreeNumber}} </label>
                            <input type="text" class="form-control" id="ministerialDecreeNumber" name="ministerialDecreeNumber" ng-model="capacityDelegationDrtvCtrl.capacityDelegation.ministerialDecreeNumber" placeholder={{messages.placeHolders.englishNamePH}} required/>
                            <span ng-show="capacityDelegationForm.ministerialDecreeNumber.$touched && capacityDelegationForm.ministerialDecreeNumber.$error.required" >
                                {{messages.label.required}}
                            </span>
                        </div>
            </div>

            <div class="row">
                    <div class="form-group col-md-6">
                            <label for="organizationUnit" class="required"> {{messages.label.organizationUnit}}</label>
                            <select class="form-control choice requiredField" ng-options="organizationUnit | localeFltr for organizationUnit in capacityDelegationDrtvCtrl.organizations track by organizationUnit.arabicName" ng-model="capacityDelegationDrtvCtrl.capacityDelegation.organizationUnit">
                                <option value="" disabled selected>{{messages.placeHolders.selectMessage}}</option>
                            </select>
                            <span ng-show="capacityDelegationForm.organizationUnit.$touched && capacityDelegationForm.organizationUnit.$error.required" >
                                {{messages.label.required}}
                            </span>
                        </div>
                    <div class="form-group  col-md-4">
                            <label  for="ministerialDecreeDate" class="required">{{messages.label.MinisterialDecreeDate}}</label>
                            <div class="input-group">
                                <span class="input-group-addon" id="basic-addon1"><span class="glyphicon glyphicon-calendar" aria-hidden="true"></span></span>
                                <input class="form-control" name="ministerialDecreeDate" id="ministerialDecreeDate" type="date"   ng-model="capacityDelegationDrtvCtrl.capacityDelegation.ministerialDecreeDate"   required>
                           
                            </div>
                            <span ng-show="capacityDelegationForm.ministerialDecreeDate.$touched && capacityDelegationForm.ministerialDecreeDate.$error.required" >
                                    {{messages.label.required}}
                                </span>
                        </div>
               
        </div>
        <div class="btn-group rigth" ng-show="!capacityDelegationDrtvCtrl.capacityDelegation.id" >
                <div class="btn-group row" ng-if="!capacityDelegationDrtvCtrl.editCapacityDelegation">
                    <div class="col-sm-10">
                        <button ng-click="capacityDelegationDrtvCtrl.add()" class="btn btn-default" ng-disabled="capacityDelegationForm.$invalid" type="submit">{{messages.label.add}}</button>
                    </div>
                </div>
            </div>
        </form>
        
        <div class="well" ng-show="capacityDelegationDrtvCtrl.capacityDelegation.id">
        <form   name="capacityDelegationFormFileUpload" novalidate  enctype="multipart/form-data">
                <div class="row">
                        <div class="form-group col-md-6">
                                <label for="attachmentType" class="required"> {{messages.ATTACHMENT_TYPES}}</label>
                                <select class="form-control choice requiredField" ng-options="attachmentType | localeFltr for attachmentType in capacityDelegationDrtvCtrl.attachments track by attachmentType.arabicName" ng-model="capacityDelegationDrtvCtrl.requestAttachment.attachmentType" novalidate>
                                    <option value="" disabled selected>{{messages.placeHolders.selectMessage}}</option>
                                </select>
                                <span ng-show="capacityDelegationFormFileUpload.attachmentType.$touched && capacityDelegationFormFileUpload.attachmentType.$error.required" >
                                    {{messages.label.required}}
                                </span> 
                            </div>
                            
                            <div class="col-md-6 form-group">
                
                            <input type="file" id="file" name="file"  ng-file="capacityDelegationDrtvCtrl.requestAttachment.file" />
                    
                            
                            <span ng-show="capacityDelegationFormFileUpload.file.$touched && capacityDelegationFormFileUpload.file.$error.required" >
                                    {{messages.label.required}}
                                </span> 
                            </div>
                         </div>

                <div class="form-check">
                        <div class="form-check form-check-inline" >
                            <label for="isActive" class="rigth form-check-label">{{messages.label.isActive}}</label>
                            <input type="checkbox" class="rigth form-check-input" id="isActive" ng-model="capacityDelegationDrtvCtrl.capacityDelegation.isActive" />
                        </div>
                    </div>
            
                    <div class="btn-group rigth" >
                        <div class="btn-group row" ng-if="!capacityDelegationDrtvCtrl.editCapacityDelegation">
                            <div class="col-sm-10">
                                <button ng-click="capacityDelegationDrtvCtrl.addRequestAttachment()" class="btn btn-default" ng-disabled="capacityDelegationForm.$invalid" type="submit">{{messages.label.add}}</button>
                            </div>
                        </div>
                        <div class="btn-group row" ng-if="capacityDelegationDrtvCtrl.editCapacityDelegation">
                            <div class="col-sm-10">
                                <button ng-click="capacityDelegationDrtvCtrl.update()" class="btn btn-default" ng-disabled="capacityDelegationForm.$invalid" type="submit">{{messages.label.update}}</button>
                            </div>
                        </div>
                     
                        <div class="btn-group row" ng-if="capacityDelegationDrtvCtrl.editCapacityDelegation">
                            <div class="col-sm-10">
                                 <button ng-click="capacityDelegationDrtvCtrl.cancel()" class="btn btn-default">{{messages.label.cancel}}</button>
                            </div>
                        </div>
                    </div>
        </form>
    
    <div class="table-responsive" >
        <table class="table table-striped table-bordered table-hover text-center">
            <thead>
                <tr>
                    <th>
                        {{messages.ATTACHMENT_TYPES}}
                    </th>
                    <th>
                        {{messages.label.RequestTypes}}
                    </th>
                    <th>
                        {{messages.label.isActive}}
                    </th>
                    <th>
                        {{messages.label.edit}}
                    </th>
                    <th>
                        {{messages.label.delete}}
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="cd in capacityDelegationDrtvCtrl.requestAttachments | paginationFltr:capacityDelegationDrtvCtrl.page.start:capacityDelegationDrtvCtrl.page.end track by cd.request.serial">
                    <td>
                        {{cd.attachmentType.arabicName}}
                    </td>
                    <td>
                        {{cd.file.name}}
                    </td>
                    <td>
                        {{cd.isActive}}
                    </td>
                    <td>
                        <div>
                            <button class="btn btn-default" ng-click="capacityDelegationDrtvCtrl.edit(cd.id)"><span class="glyphicon glyphicon-pencil"></span></button>
                        </div>
                    </td>
                    <td>
                        <div>
                            <button class="btn btn-default" ng-click="capacityDelegationDrtvCtrl.delete(cd.id)"><span class="glyphicon glyphicon-trash"></span></button>
                        </div>
                    </td>
                </tr> 
            </tbody> 
        </table>
        <td colspan="7">
            <pagination items-size="capacityDelegationDrtvCtrl.files.length" page="capacityDelegationDrtvCtrl.page">
            </pagination>
        </td>
        </div>
    </div>
    </div>